.width{
    width: 131px !important;
}
/*.panel-body {
    border: 2px solid #c8c8c8;
    border-width: 2px 49px 2px 2px;
    border-right-color: #5e5e5e;
    padding: 12px 0px 12px 0px;
}*/

.icon-top {
    margin-top: -62px;
}
.icon_down{
    padding-top: 0px !important;
}
.img-center {
    width: 136px;
    height: 117px;
}
.col-lg-9{
    padding-left: 0px;
}
.scroll_bord {
    margin-top: -25px;
}
.button_toggle{
    float: right;
}
.form-control{
    border: 2px solid #aaaaaa;
    border-radius: 10px;
}
@media(max-width:1191px){
    .icon-top {
        margin-top: -155px;
        margin-right: -48px;
    }
    .icon_down{
        margin-right : -50px;
    }
    .scroll_bord {
        margin-top: -80px;
        margin-right: -63px;
    }tted-border{
        line-height: 3;
        font-size: 25.15px;
    }
    .panel-body{
        padding: 12px 0px 12px 15px;
    }
} 
@media (max-width:375px){
    .panel-body{
        border-bottom-color: #DED6CF;
        border-top-color: #DED6CF;
    }
}
@media (max-width:480px){
    .width{
        width: 100px !important;
    }
}