.back_color2 {
    background: #5e5e5e;
    border: none;
    width:100px;
    margin:5px;
    box-shadow: 0 4px rgba(51, 51, 51, 0.89);
}
.butt{
    display: block;
    margin-top: 15px;
}
/*.back_color {
    background: #86CB34;
    border: none;
    width: 100px;
    margin-bottom: 10px;
    box-shadow: 0 4px #5f9520;
}*/
.back_color{
    background: #5E5E5E !important;
    border: none;
    width: 100px;
    margin: 5px;
    box-shadow: 0 4px #494949;
}
.radius {
    border-radius: 0px;
    text-align: center;
    padding: 5px 3px 3px 0px;
    color: #2c2c2c;
}
.set_margin {
    margin-top: -5px;
    display: inline;
    float: right;
}
header{
    background:rgba(202, 202, 202, 0.32);
    padding:10px;
}
a:focus, a:hover {
    text-decoration: none;
}
.height_change{
    border-radius: 10px;
}
.set_padding{
    padding:0px;
}
.background{
    background: #ebebeb;
    border-radius: 25px;
    padding-bottom: 15px;
}